{% extends 'tareas/base.html' %}

{% block content %}

<main class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-5 bg-light rounded">
                <h1 class="text-center mb-4">Acerca de Multilingo</h1>
                <p class="lead text-center">Somos una destacada escuela especializada en inglés, español y francés.</p>
                <p class="text-justify">Nos apasiona la diversidad lingüística y cultural, y nuestro enfoque va más allá de la gramática, explorando tradiciones y enriqueciendo tu experiencia. Nuestro equipo altamente capacitado y nuestras metodologías modernas te brindarán un aprendizaje efectivo y enriquecedor.</p>
                <p class="text-justify">Únete a Multilingo para dominar estos idiomas globales en un mundo interconectado.</p>
            </div>
        </div>
    </div>
</main>

<!-- Sección "Acerca de Roberto Garcia" -->
<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg p-5 bg-light rounded">
                <h2 class="text-center mb-4">Acerca de Roberto Garcia</h2>
                <p class="text-justify">Roberto Garcia es un Ingeniero Informático que se está especializando en Python y Django. Su pasión por la programación y su dedicación para aprender y crecer en este campo le han llevado a buscar una especialización en tecnologías modernas. Con un enfoque en Python y Django, Roberto busca aplicar sus habilidades para desarrollar soluciones innovadoras y eficientes en el mundo de la web y la tecnología.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
