<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    
    <nav>   
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            
            {% if user.is_authenticated %}

            <li><a href="{% url 'tareas' %}">Tareas</a></li>
            <li><a href="{% url 'crear_tarea' %}">Crear Tarea</a></li>
            <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Registrarse</a></li>
            <li><a href="{% url 'signin' %}">Iniciar Sesion</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>