{% extends 'tareas/base.html' %}

{% block content %}
<div class="container mt-5"> <!-- Contenedor general con margen superior -->
    <div class="row justify-content-center"> <!-- Centrar el contenido -->
        <div class="col-md-6"> <!-- Determina el ancho del contenido -->

            <!-- Tarjeta de Bootstrap -->
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center mb-4 card-title display-4 border-bottom pb-3">{{tarea.nombre}}</h1>

                    <!-- Formulario de actualización -->
                    <form method="post" class="mb-3">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-primary btn-block">
                            Actualizar Tarea
                        </button>
                    </form>

                    <!-- Formulario para completar tarea -->
                    <form action="{% url 'completar_tarea' tarea.id %}" method="POST" class="mb-3">
                        {% csrf_token %}
                        <button class="btn btn-success btn-block">
                            Completar
                        </button>
                    </form>

                    <!-- Formulario para borrar tarea -->
                    <form action="{% url 'borrar_tarea' tarea.id %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger btn-block">
                            Borrar
                        </button>
                    </form>
                </div>
            </div>
            <!-- Fin de la tarjeta -->

        </div>
    </div>
</div>
{% endblock %}
