{% extends 'tareas/base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <h1 class="text-center mb-4 display-4 pb-1">Tareas Pendientes</h1>

            {% for tarea in tareas %}
            <div class="card mb-3 shadow-sm">
                <div class="{% if tarea.importante %}bg-warning{% endif %} card-body">
                    <h4 class="card-title">
                        <a href="{% url 'detalle_tarea' tarea.id %}" class="text-dark">
                            {{ tarea.nombre }}
                        </a>
                    </h4>
                    <p class="card-text mb-2">{{ tarea.descripcion }}</p>
                    <p class="card-text mb-0"><small class="text-muted">Curso: {{ tarea.get_curso_display }}</small></p>
                    <p class="card-text mb-0"><small class="text-muted">Usuario: {{ tarea.usuario }}</small></p>
                    <p class="card-text"><small class="text-muted">{{ tarea.fecha_finalizacion|date:'d-m-Y' }}</small></p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</main>

{% endblock %}
